
        
        <h3>Object: </h3>
            <p><%=@email.object%></p>   
        <h2>Contenu:</h2> 
            <p><%=@email.body%></p>
            
    
        
                     
  
   
        